	#logo{

	}
	body{
		background-color: #ebeff5;
	}

	#total-orders{

			background-color: #4cb4c7;
	}
	#orders-delivered{

			background-color: #7abecc;
	}
	#orders-pending{

		background-color: #7CD1C0;
	}

	@media all and (min-width: 992px) {

	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

.navbar-custom { 
            background-color: lightblue; 
        } 

.navbar-custom .navbar-brand 
         { 
            color: green; 
        } 

        .navbar-custom .navbar-text { 
            color: black; 
}