body{
	background: url('static/img/a.jpg');
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-size: cover;

}
h1{
	color: #132409;
	text-align: center;
}
input{
	box-sizing: border-box;
	background: rgba(0,0,0,0.10);
	color: #fff;
	outline: none;
	border:none;
	/*border-bottom: 1px dotted #fff;*/
	margin: 5px;
	padding: 12px 5px;
	width: 100%;
	border-radius: 5px;
	font-weight: bold;
}
button{
	margin: 5px;
	padding: 5px;
	width: 100px;
	background: rgba(0,0,0,0.20);
	color:#ad4139;
	outline: none;
	border:none;
	border-radius: 7px;
	transition-duration: 0.4s;
  	cursor: pointer;
}
button:hover {
  background-color: #555555;
  color: white;
}
.container{
	position:relative;
	width: 400px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, 0.8);
	color: #fff;
	border-radius: 8px;
}