{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>urban dreams</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static '/css/login.css' %}" />





</head>
<body>
 
  

   <div class="box">

    <dir class="content">

      <h1>LOG IN</h1>
      <form method="POST" action="/submit/">
      {% csrf_token %}       
      <P>User Name: <input type="text" name="unm" placeholder="Enter user name"></P>
      <p>Password: <input type="Password" name="pwd"></p>
      <p><input type="submit" name="sub" value="Log In"></p>
      <p><a href="" >Forget password?</a></p>
      </form>
    </dir>
    
  </div>



  


</body>
</html>