
 <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      
      <div id="logo" class="fl_left">
        <h1><a href="{% url 'index' %}">URBAN DREAMS</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li><a class="drop" href="#">about us</a>
            <ul>
              <li><a href="pages/gallery.html">Why Urban Dreams</a></li>
              <li><a href="pages/full-width.html">Media Coverage</a></li>
              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
              <li><a href="pages/basic-grid.html">Basic Grid</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">resources</a>
            <ul>
              <li><a href="#">Blog</a></li>
              
              <li><a href="#">Training</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">features</a>
            <ul>
              <li><a href="pages/gallery.html">x</a></li>
              <li><a href="pages/full-width.html">y</a></li>
              <li><a href="pages/sidebar-left.html">z</a></li>
              <li><a href="pages/sidebar-right.html">p</a></li>
              <li><a href="pages/basic-grid.html">q</a></li>
            </ul>
          </li>

          <li><a href="#">contact us</a></li>
        </ul>
      </nav>
      
    </header>
  </div>