
{%  load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SIGNUP PAGE</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body>
	<div class="container">
	<div class="content">
	<div><h1>SIGNUP PAGE</h1></div>
		<form action="">
			<input id="in" type="text" name="email" placeholder="Enter email id">
			<br>
			<input type="password" name="pwd" placeholder="Enter password">
			<br>
			<input type="password" name="pwd" placeholder="Confirm password">
			<br>
			<button type="submit">Signup</button>
		</form>
	</div>
	</div>
</body>
</html>